services:
  - name: inventario-maroto-backend
    type: web
    env: python
    plan: free
    autoDeploy: true
    rootDir: SistemaAnaliseComputadores/backend
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: gunicorn -w 2 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:$PORT main:app
    envVars:
      - key: HOST
        value: 0.0.0.0
      - key: ALLOWED_HOSTS
        value: "*"
      - key: DATABASE_URL
        value: sqlite:///./levitiis.db
      - key: DATABASE_URL_SYNC
        value: sqlite:///./levitiis.db
      - key: ASYNC_DATABASE_URL
        value: sqlite+aiosqlite:///./levitiis.db